{template 'common/header'}

	{if empty($item[bgimgurl])}
	<div class="pagebox" style=" background: url(../addons/we7_shangfo_mini/static/Home/images/bg.png) no-repeat;  background-size: 100% auto;">
		{else}
		<div class="pagebox" style=" background: url({php echo tomedia($item[bgimgurl])}) no-repeat;  background-size: 100% auto;">
		{/if}
		<div class="music">
			{if empty($item[musicurl])}
			<audio src="/attachment/shangfo/music/mercybg.mp3" autoplay id="bgmusic"></audio>
			{else}
			<audio src="{php echo tomedia($item[musicurl])}" autoplay></audio>
			{/if}

			<!--<audio src="http://baifo.b0.upaiyun.com/music//mercy.mp3" autoplay loop></audio>-->
		</div>
			<!--<a href="https://zanshang.bchltech.cn/app/index.php?i=37&eid=27&c=entry&zs_model=%E5%A4%AA%E5%8E%9F%E8%BD%AF%E4%BB%B6%E7%A4%BC%E4%BD%9B&zs_title=%E6%AF%8F%E6%97%A5%E7%A4%BC%E4%BD%9B%EF%BC%8C%E5%8A%9F%E5%BE%B7%E6%97%A0%E9%87%8F&zs_auther=%E7%A4%BC%E4%BD%9B%E5%A0%82&zs_head=http://wwys-1252404190.file.myqcloud.com/WechatIMG752.jpeg&zs_url=http://t.cn/RE8MfDU" class="sxGdBtn" style="z-index: 9; position: absolute; top: 1.5rem; left: 0rem; width: 1.5rem; height: 3rem; cursor:pointer"></a>-->
		<div class="joss">
			{if empty($item[fximgurl])}
				<img src="/attachment/shangfo/images/fo.png" alt="佛像">
				{else}
					<img src="{php echo tomedia($item[fximgurl])}" alt="佛像">
					{/if}
		</div>

		<!--判断是否上佛-->
		{if $info['uptime'] == $uptime}
			<div class="groly">
				<div class="circle"></div>
			</div>
			<div class="bottle">
				<img src="/attachment/shangfo/images/zs.png" alt="中水">
			</div>
			<div class="vase">
				<img src="{php echo tomedia($list['0']['wimgurl'])}" alt="空花瓶">
			</div>
			<div class="vase two">
				<img src="{php echo tomedia($list['0']['wimgurl'])}" alt="空花瓶">
			</div>
			<div class="compote">
				<img src="{php echo tomedia($list['2']['wimgurl'])}" alt="空果盘">
			</div>
			<div class="compote two">
				<img src="{php echo tomedia($list['2']['wimgurl'])}" alt="空果盘">
			</div>
			<div class="censer">
				<div class="smoke"></div>
				<img src="{php echo tomedia($list['1']['wimgurl'])}" alt="空香炉">
			</div>
		{else}
			<div class="vase">
				<img src="/attachment/shangfo/images/hp_no.png" alt="空花瓶">
			</div>
			<div class="vase two">
				<img src="/attachment/shangfo/images/hp_no.png" alt="空花瓶">
			</div>
			<div class="compote">
				<img src="/attachment/shangfo/images/gp_no.png" alt="空果盘">
			</div>
			<div class="compote two">
				<img src="/attachment/shangfo/images/gp_no.png" alt="空果盘">
			</div>
			<div class="censer">
				<img src="/attachment/shangfo/images/xl_no.png" alt="空香炉">
			</div>
		{/if}
		<!--判断是否上佛-->
		<div class="light">
			<img src="/attachment/shangfo/images/light.png" alt="花灯">
		</div>
		<div class="light two">
			<img src="/attachment/shangfo/images/light.png" alt="花灯">
		</div>

		{if $up_total < 1}
		<div class="incense">
			<!--<a href="{:U('tribute')}"><img src="__PUBLIC__/Home/images/sx.png" alt="上香"></a>-->
			<a href="javascript:;"><img src="/attachment/shangfo/images/sx.png" alt="上香"></a>
		</div>
			{else}
			<div class="listTip" id="listTip" style="z-index: 999">
				<a href="javascript:;" class="close"></a>
				<div class="cont">
					{if $info['andtime']>6}
						您已连续供佛{$info['andtime']}天，已进入精进榜，还望您精进供佛。
						{else}
						您已连续供佛{$info['andtime']}天，还需继续供佛<?php echo 7-$info['andtime'] ?>天，即可进入精进榜，还望您精进供佛。
					{/if}
					<!-- 由于您的精进供佛，已获得XX牌位一尊。 (刚上榜) -->
					<!-- 由于您的精进供佛，我们将会在12月12日朝圣05时为您请牌位一尊，还望您继续坚持每日供佛。 (已上榜) -->
				</div>
				<ul class="listTip_btn">
					<!--	<li><a href="javascript:;" class="forbtn">下期预告</a></li>-->
					<!--	<li><a href="/index.php?g=Wap&m=Guanyi&a=tablet&token=wbvqno1458545761">查看牌位</a></li>   -->
					<li><a href="{php echo $this->createMobileUrl('list1')}">查看榜单<!-- 查看排位 --></a></li>
				</ul>
			</div>
		{/if}
	</div>
	<div class="qrcode" >
		<div class="imgbox">
			<!--<img src="{php echo tomedia($item[imgurl])}" alt="二维码">-->

			<img src="http://cdn2.weixinbaifo.com/images/4/2017/06/jvOpvBZQvJG8l77bzsGRRoRPtt8lqB.jpg" alt="二维码5">

		</div>
		<p>长按二维码识别关注</p>
		<p>即可马上礼佛</p>
	</div>

	<script>
		$(function(){

			$('.music').on('click', function(){
				if (!$(this).hasClass('off')){
					$(this).addClass('off');
					$('audio').get(0).pause();
				}else {
					$(this).removeClass('off');
					$('audio').get(0).play();
				}
			});

			$('body').bind('touchstart', function(){
				if (/(iPhone|iPad|iPod|iOS)/i.test(navigator.userAgent)) {
					if(!$('.music').hasClass('off')){
						$('audio').get(0).play();
					}else{
						$('audio').get(0).pause();
					}
				}
			});
			setTimeout(function(){
				$('#listTip').css('display', 'block');
			}, 3000);

			$('a.close').on('click', function(){
				$(this).parent().css('display', 'none');
			});

			var issub = "{$follow}";
			$('.incense>a').on('click', function(){
				if(issub==0 || issub==2){
					$('.qrcode').css('display', 'block');
				}else{

					location.href = "{php echo $this->createMobileUrl('tribute')}";//跳转到选择贡品页
				}
			});

		});
	</script>
		<script type="text/javascript">
			window.shareData = {
				"imgUrl": "{php echo tomedia($item[fimgurl])}",
				"timeLineLink": "{php echo $_W['siteroot'].'app'.trim($this->createMobileUrl('index'),'.')}",
				"sendFriendLink":"{php echo $_W['siteroot'].'app'.trim($this->createMobileUrl('index'),'.')}",
				"tTitle": "{$item[ftitle]}",
				"tContent": "{$item[fcontent]}",
				"fTitle": "{$item[ftitle]}",
				"fContent": "{$item[fcontent]}",
// 	   		 "backurl": 'http://t.cn/RGsH1My'
			};
		</script>
<script type="text/javascript" src="https://res.wx.qq.com/open/js/wx-1.3.2.js "></script>
<script type="text/javascript">
	// jssdk config 对象
	jssdkconfig = {php echo json_encode($_W['account']['jssdkconfig'])} || {};

	// 是否启用调试
	jssdkconfig.debug = false;
	jssdkconfig.jsApiList = [ 	'checkJsApi','onMenuShareTimeline',
		'onMenuShareAppMessage',
		'onMenuShareQQ',
		'onMenuShareWeibo'];
	wx.config(jssdkconfig);
</script>
<script type="text/javascript">
	wx.ready(function () {
		// 1 判断当前版本是否支持指定 JS 接口，支持批量判断
		/*document.querySelector('#checkJsApi').onclick = function () {
		 wx.checkJsApi({
		 jsApiList: [
		 'getNetworkType',
		 'previewImage'
		 ],
		 success: function (res) {
		 //alert(JSON.stringify(res));
		 }
		 });
		 };*/
		// 2. 分享接口
		// 2.1 监听“分享给朋友”，按钮点击、自定义分享内容及分享结果接口
		wx.onMenuShareAppMessage({
			title: window.shareData.tTitle,
			desc: window.shareData.tContent,
			link: window.shareData.sendFriendLink,
			imgUrl: window.shareData.imgUrl,
			type: '', // 分享类型,music、video或link，不填默认为link
			dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
			success: function () {
				//		window.location = window.shareData.backurl;
				if(window.shareData.backurl){
					window.location = window.shareData.backurl;
				}
			},
			cancel: function () {
				//alert('分享朋友失败');
			}
		});


		// 2.2 监听“分享到朋友圈”按钮点击、自定义分享内容及分享结果接口
		wx.onMenuShareTimeline({
			title: window.shareData.fTitle?window.shareData.fTitle:window.shareData.tTitle,
			link: window.shareData.sendFriendLink,
			imgUrl: window.shareData.imgUrl,
			success: function () {
				//  shareHandle('frineds');
				// 	window.location = window.shareData.backurl;
				if(window.shareData.backurl){
					window.location = window.shareData.backurl;
				}else{
					shareHandle('frineds');
				}
			},
			cancel: function () {
				//alert('分享朋友圈失败');
			}
		});

		// 2.4 监听“分享到微博”按钮点击、自定义分享内容及分享结果接口
		wx.onMenuShareWeibo({
			title: window.shareData.tTitle,
			desc: window.shareData.tContent,
			link: window.shareData.sendFriendLink,
			imgUrl: window.shareData.imgUrl,
			success: function () {
				shareHandle('weibo');
				//alert('分享微博成功');
			},
			cancel: function () {
				//alert('分享微博失败');
			}
		});
		wx.error(function (res) {
			/*if(res.errMsg == 'config:invalid signature'){
			 wx.hideOptionMenu();
			 }else if(res.errMsg == 'config:invalid url domain'){
			 wx.hideOptionMenu();
			 }else{
			 wx.hideOptionMenu();
			 //alert(res.errMsg);
			 }*/
			if(res.errMsg){
				wx.hideOptionMenu();
			}
		});
	});

	function shareHandle(to) {
		var submitData = {
			module: window.shareData.moduleName,
			moduleid: window.shareData.moduleID,
			token:'wbvqno1458545761',
			wecha_id:'oN3irwfbhBhSqS2DpiP2nwGmK-fg',
			url: window.shareData.sendFriendLink,
			to:to
		};

		$.post('index.php?g=Wap&m=Share&a=shareData&token=wbvqno1458545761&wecha_id=oN3irwfbhBhSqS2DpiP2nwGmK-fg',submitData,function (data) {},'json')
	}

</script>
		<script>

			wx.ready(function() {
				document.getElementById('bgmusic').play();
			});

		</script>

		{template 'common/footer'}